.App{
  width:100%;
  background-color: red;
}
.App__header{
  max-width:900px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  background-color: red;
}
.user__container .btn{
    margin-left: 15px;
    padding:20px 15px;
    background-color: blueviolet;
    border-radius: 5px;
    border:none;
    color:white;
}
p{
  color:black;
  font-size: 20px;
  display: inline;
}
span{
  color:blueviolet;

  font-size: 20px;
}